@model GymManagement.Models.TrainingSessionEditViewModel

@{
    ViewBag.Title = "Edit Training Session";
    Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
}

@section BodyContent {
    <h2>@ViewBag.Title</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.TrainingSession.ID)
        @Html.HiddenFor(model => model.TrainingSession.ClassID)
        @Html.HiddenFor(model => model.TrainingSession.StaffID)

        <div class="mb-3 row">
            <label for="ClassID" class="col-sm-2">Class:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="ClassID" name="ClassID" value="@Model.SelectedClassName" readonly>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="StaffID" class="col-sm-2">Staff:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="StaffID" name="StaffID" value="@Model.SelectedStaffUsername" readonly>
            </div>
        </div>


        <div class="mb-3 row">
            <label for="DateTime" class="col-sm-2">Date and Time:</label>
            <div class="col-sm-4">
                <input type="datetime-local" class="form-control" id="DateTime" name="TrainingSession.DateTime" value="@Model.TrainingSession.DateTime" required>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="Capacity" class="col-sm-2">Capacity:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="Capacity" name="TrainingSession.Capacity" value="@Model.TrainingSession.Capacity" required>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    }
}
