@model GymManagement.Models.MembershipViewModel

@{
    ViewBag.Title = "Manage Memberships";
    Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
}

@section BodyContent {
    <!-- Your content goes here -->

    <h2>@ViewBag.Title</h2>
    <hr />

    <form action="@Url.Action("Create", "ManageMemberships")" method="post">
        <div class="mb-3 row">
            <label for="MemberID" class="col-sm-2 ">Member ID:</label>
            <div class="col-sm-4">
                <select class="form-control" id="MemberID" name="MemberID" required>
                    @foreach (var user in Model.Users)
                    {
                        <option value="@user.UserId">@user.UserName</option>
                    }
                </select>
            </div>

            <label for="MembershipTypeID" class="col-sm-2 ">Membership Type:</label>
            <div class="col-sm-4">
                <select class="form-control" id="MembershipTypeID" name="MembershipTypeID" required>

                    @foreach (var membershipType in Model.MembershipTypes)
                    {
                        <option value="@membershipType.ID">@membershipType.Type</option>
                    }
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="StartDate" class="col-sm-2 ">Start Date:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="StartDate" name="StartDate" required>
            </div>


            <label for="EndDate" class="col-sm-2 ">End Date:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="EndDate" name="EndDate" required>
            </div>
        </div>
            <button type="submit" class="btn btn-primary">Add Membership</button>
    </form>
    <hr />

    <h3>List of Memberships</h3>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Member ID</th>
                <th>Membership Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var membership in Model.Memberships)
            {
            <tr>
                <td>@membership.ID</td>
                <td>@membership.MemberID</td>
                <td>@membership.MembershipType.Type</td>
                <td>@membership.StartDate.ToString("yyyy-MM-dd")</td>
                <td>@membership.EndDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <a href="@Url.Action("Edit", "ManageMemberships", new { id = membership.ID })" style="display:inline-block; margin-right: 10px;">
                        <i class="fa fa-edit"></i> <!-- Edit icon -->
                    </a>

                    <form action="@Url.Action("Delete", "ManageMemberships")" method="post" style="display:inline-block;" onsubmit="return confirm('Are you sure you want to delete?');">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@membership.ID" />
                        <button type="submit" class="btn btn-link">
                            <i class="fa fa-trash"></i> <!-- Delete icon -->
                        </button>
                    </form>
                </td>

            </tr>
            }
        </tbody>
    </table>
}
