@model List<GymManagement.Models.Class>
@{
    ViewBag.Title = "Create Class";
    Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
}

@section BodyContent {
    <h2>Create Class</h2>
    <hr />

    <form action="@Url.Action("Create", "ManageClasses")" method="post">
        <div class="form-group">
            <label for="ClassName">Class Name:</label>
            <input type="text" class="form-control" id="ClassName" name="ClassName" required>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Create Class</button>
    </form>
    <hr />
    <h3>List of Classes</h3>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Class Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classItem in Model)
            {
                <tr>
                    <td>@classItem.ID</td>
                    <td>@classItem.ClassName</td>

                    <td>
                        <a href="@Url.Action("Edit", "ManageClasses", new { id = classItem.ID })" style="display:inline-block; margin-right: 10px;">
                            <i class="fa fa-edit"></i>
                        </a>

                        <form action="@Url.Action("Delete", "ManageClasses")" method="post" style="display:inline-block;" onsubmit="return confirm('Are you sure you want to delete?');">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@classItem.ID" />
                            <button type="submit" class="btn btn-link">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </td>


                </tr>
            }
        </tbody>
    </table>
}
