@model GymManagement.Models.SummaryReportViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section BodyContent {
    <div class="container">
        <h2>Summary Report</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Membership Type</th>
                    <th>Number of Members</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SummaryData)
                {
                    <tr>
                        <td>@item.MembershipType</td>
                        <td>@item.MemberCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <hr />  
    <h2>Interest Records</h2>
    <table class="table">
        <thead>
            <tr>
                @*<th>Session ID</th>*@
                <th>Member Name</th>
                <th>Class Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InterestRecordData)
            {
                <tr>
                    @*<td>@item.SessionID</td>*@
                    <td>@item.UserName</td>
                    <td>@item.ClassName</td>
                </tr>
            }
        </tbody>
    </table>

    <style>
        table, th, td {
            border: 1px solid black;
            
        }
        
    </style>
}
